annotations/resources/odd/annotations.odd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="teipublisher_odds.xsd"?><tei:TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:pb="http://teipublisher.com/1.0" xmlns:tei="http://www.tei-c.org/ns/1.0" xml:lang="en">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>Annotations
                    
                  
                 <desc>ODD used by the web-based annotation editor. Contains special rules to mark entities with the correct CSS classes</desc>
                </title>
            </titleStmt>
            <publicationStmt>
                <publisher>eXistSolutions GmbH</publisher>
                <availability>
                    <licence target="https://www.gnu.org/licenses/gpl-3.0.en.html">Distributed under GNU General Public License</licence>
                    <p>
                        Copyright 2017
                        <ref target="http://existsolutions.com">eXistSolutions GmbH</ref>
                    </p>
                    <p>This program is free software: you can redistribute it and/or modify
                        it under the terms of the GNU General Public License as published by
                        the Free Software Foundation, either version 3 of the License, or
                        (at your option) any later version.</p>
                    <p>This program is distributed in the hope that it will be useful,
                        but WITHOUT ANY WARRANTY; without even the implied warranty of
                        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
                        GNU General Public License for more details.</p>
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>
                    Generated by
                    <ref target="http://tei-publisher.com">TEI Publisher</ref>
                </p>
                <p>born digital</p>
            </sourceDesc>
        </fileDesc>
        <encodingDesc>
            <tagsDecl>
                <rendition source="annotations_customization.css"/>
            </tagsDecl>
        </encodingDesc>
        <revisionDesc>
            <change when="2021-05-28+02:00">Initial version</change>
        </revisionDesc>
    </teiHeader>
    <text>
        <body>
            <schemaSpec start="TEI teiCorpus" ident="annotations" source="teipublisher.odd">
                <elementSpec ident="title" mode="change">
                    <model predicate="$parameters?header='short'" behaviour="heading">
                        <param name="level" value="5"/>
                        <pb:template xmlns="" xml:space="preserve"><pb-popover>[[content]]<span slot="alternate">[[alternate]]</span></pb-popover></pb:template>
                        <param name="default" value="."/>
                        <param name="alternate" value="./ancestor::teiHeader/@xml:id"/>
                    </model>
                </elementSpec>
                <elementSpec ident="persName" mode="add">
                    <model predicate="ancestor::person" behaviour="link">
                        <param name="uri" value="ancestor::person/ptr/@target"/>
                        <param name="target" value="'_blank'"/>
                    </model>
                    <model behaviour="inline" cssClass="annotation annotation-person authority"/>
                    <model predicate="parent::person" behaviour="inline"/>
                </elementSpec>
                <elementSpec ident="pb" mode="change">
                    <model behaviour="inline" cssClass="annotation annotation-pb"/>
                    <model behaviour="inline">
            <outputRendition xml:space="preserve" scope="after">
            content: '|';
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="placeName" mode="add">
                    <model predicate="ancestor::place" behaviour="link">
            <param name="uri" value="ancestor::place/ptr/@target"/>
            <param name="target" value="'_blank'"/>
        </model>
                    <model behaviour="inline" cssClass="annotation annotation-place authority"/>
                </elementSpec>
<!--                <elementSpec ident="term" mode="add">-->
<!--                    <model behaviour="inline" cssClass="annotation annotation-term authority">-->
<!--            <outputRendition xml:space="preserve">-->
<!--            font-style: italic;-->
<!--            </outputRendition>-->
<!--        </model>-->
<!--                </elementSpec>-->
                <elementSpec ident="note" mode="change">
                    <model predicate="@type='commentary'" behaviour="omit"/>
                    <model predicate="@type='marginalia'" behaviour="inline" cssClass="annotation annotation-marginalia"/>
                    <model behaviour="inline" predicate="@type='presentation'" cssClass="annotation annotation-memo"/>
                    <model behaviour="inline" predicate="@type='received'" cssClass="annotation annotation-memo"/>
                    <model behaviour="inline" predicate="@type='address'" cssClass="annotation annotation-memo"/>
                    <model behaviour="inline" predicate="@type='numbering'" cssClass="annotation annotation-memo"/>
                    <model behaviour="inline" predicate="@type='postalNote'" cssClass="annotation annotation-memo"/>
                    <model behaviour="inline" predicate="@type='processed'" cssClass="annotation annotation-memo"/>
                    <model behaviour="inline" predicate="@type='other'" cssClass="annotation annotation-memo"/>
                    <model predicate="parent::num" behaviour="pass-through"/>
                    <model predicate="@type='commented' and child::note" behaviour="inline" cssClass="annotation annotation-commentary"/>
                    <model predicate="@type='commented' and child::anchor" behaviour="inline" cssClass="annotation annotation-commentary"/>
                    <model behaviour="inline" cssClass="annotation annotation-note"/>
                    <model behaviour="note">
            <param name="place" value="@place"/>
            <param name="label" value="@n"/>
        </model>
                </elementSpec>
                <elementSpec ident="orgName" mode="add">
                    <model predicate="ancestor::org" behaviour="link">
                    <param name="uri" value="ancestor::org/ptr[@type='fpb']/@target"/>
                    <param name="target" value="'_blank'"/>
                </model>
                    <model behaviour="inline" cssClass="annotation annotation-organization authority"/>
                </elementSpec>
                <elementSpec ident="place" mode="add">
                    <modelSequence>
            <model behaviour="heading">
                <param name="content" value="placeName[@type=&#34;full&#34;]"/>
                <param name="level" value="3"/>
            </model>
            <model predicate="placeName[not(@type)]" behaviour="heading">
                <param name="content" value="string-join(placeName[not(@type)]/string(), '; ')"/>
                <param name="level" value="4"/>
            </model>
            <model behaviour="block">
                <param name="content" value="                 if(./location/geo) then                 let $n :=                      if(starts-with(./location/geo/text(), '-'))                     then 'S ' else 'N '                  let $e :=                      if(starts-with(./location/geo/text(), '-'))                     then 'W ' else 'E '                  return                     concat($n, substring-before(./location/geo/text(), ' '), ', ', $e, substring-after(./location/geo/text(), ' '))                 else()"/>
            </model>
            <model behaviour="paragraph">
                <param name="content" value="if(./note[@type='rism']) then concat('RISM-Sigle: ',./note[@type='rism']) else ()"/>
            </model>
            <model behaviour="paragraph">
                <param name="content" value="if(./note[@type='gnd']) then concat('GND: ',./note[@type='gnd']/ptr/@target) else ()"/>
            </model>
        </modelSequence>
                </elementSpec>
                <elementSpec ident="person" mode="add">
                    <modelSequence>
            <model behaviour="heading">
                <param name="content" value="persName[@type=&#34;full&#34;]"/>
                <param name="level" value="3"/>
            </model>
            <model behaviour="block">
                <param name="content" value="if(./birth/date/@when and ./death/date/@when and occupation) then concat('*',./birth/date/@when, ' ✝', ./death/date/@when, ' (',string-join(occupation, ', '), ')') else if (./birth/date/@when and ./death/date/@when and not(occupation)) then concat('*',./birth/date/@when, ' ✝', ./death/date/@when) else if (./birth/date/@when and not(./death/date/@when) and not(occupation)) then concat('*',./birth/date/@when) else if (not(./birth/date/@when) and ./death/date/@when and not(occupation)) then concat('✝', ./death/date/@when) else if (not(./birth/date/@when) and ./death/date/@when and occupation) then concat('✝', ./death/date/@when, ' (',string-join(occupation, ', '), ')') else if (./birth/date/@when and not(./death/date/@when) and occupation) then concat('*',./birth/date/@when, '(',string-join(occupation, ', '), ')')  else if (not(./birth/date/@when) and not(./death/date/@when) and occupation) then concat('(',string-join(occupation, ', '), ')') else ()"/>
            </model>
            <model behaviour="paragraph">
                <param name="content" value="./note/node()"/>
            </model>
        </modelSequence>
                </elementSpec>
                <elementSpec ident="choice" mode="change">
                    <model predicate="sic and corr" behaviour="pass-through">
            <param name="sic" value="sic[1]/node()"/>
            <param name="corr" value="corr[1]/node()"/>
            <pb:template xmlns="" xml:space="preserve"><span class="annotation annotation-sic" data-type="sic" data-annotation="{{&#34;corr&#34;: &#34;[[corr]]&#34;}}">[[sic]]</span></pb:template>
        </model>
                    <model predicate="abbr and expan" behaviour="pass-through">
            <param name="expan" value="expan[1]/node()"/>
            <param name="abbr" value="abbr[1]/node()"/>
            <pb:template xmlns="" xml:space="preserve"><span class="annotation annotation-sic" data-type="abbr" data-annotation="{{&#34;expan&#34;: &#34;[[expan]]&#34;}}">[[abbr]]</span></pb:template>
        </model>
                </elementSpec>
                <elementSpec ident="corr" mode="change"/>
                <elementSpec ident="hi" mode="change">
                    <model behaviour="inline" cssClass="annotation annotation-hi" useSourceRendition="true"/>
                </elementSpec>
                <elementSpec ident="ref" mode="change">
                    <model behaviour="inline" cssClass="annotation annotation-ref"/>
                </elementSpec>
                
                <!-- FPB Addendum -->
                <elementSpec ident="head" mode="change">
                    <model behaviour="inline" cssClass="annotation annotation-head"/>
                </elementSpec>
                <elementSpec ident="salute" mode="change">
                    <model behaviour="inline" cssClass="annotation annotation-salute"/>
                </elementSpec>
                <elementSpec ident="address" mode="change">
                    <model behaviour="inline" cssClass="annotation annotation-address"/>
                </elementSpec>
                <elementSpec ident="postscript" mode="change">
                    <model behaviour="inline" cssClass="annotation annotation-postscript"/>
                </elementSpec>
                <elementSpec ident="signed" mode="change">
                    <model behaviour="inline" cssClass="annotation annotation-signed"/>
                </elementSpec>
                <elementSpec ident="dateline" mode="change">
                    <model behaviour="inline" cssClass="annotation annotation-dateline"/>
                </elementSpec>
                <elementSpec ident="opener" mode="change">
                    <model behaviour="inline" cssClass="annotation annotation-opener"/>
                </elementSpec>
                <elementSpec ident="closer" mode="change">
                    <model behaviour="inline" cssClass="annotation annotation-closer"/>
                </elementSpec>
                <elementSpec ident="date" mode="change">
                    <model behaviour="inline" cssClass="annotation annotation-date"/>
                </elementSpec>
                <elementSpec ident="handShift" mode="change">
                    <model behaviour="inline" cssClass="annotation annotation-handShift"/>
                </elementSpec>
                <elementSpec ident="del" mode="change">
                    <model behaviour="inline" cssClass="annotation annotation-del" useSourceRendition="true"/>
                </elementSpec>
                <elementSpec ident="rs" mode="change">
                    <model predicate="@type='abbreviation'" behaviour="inline" cssClass="annotation annotation-abbreviation"/>
                    <model behaviour="inline" cssClass="annotation annotation-rs"/>
                </elementSpec>
                <elementSpec ident="add" mode="change">
                    <model behaviour="inline" cssClass="annotation annotation-add"/>
                </elementSpec>
                <elementSpec ident="supplied" mode="change">
                    <model behaviour="inline" cssClass="annotation annotation-supplied"/>
                </elementSpec>
                <elementSpec ident="latintype" mode="change">
                    <model behaviour="inline" cssClass="annotation annotation-latintype"/>
                </elementSpec>
                <elementSpec ident="semibold" mode="change">
                    <model behaviour="inline" cssClass="annotation annotation-semibold"/>
                </elementSpec>
                <elementSpec ident="underline" mode="change">
                    <model behaviour="inline" cssClass="annotation annotation-underline"/>
                </elementSpec>
                <elementSpec ident="superscript" mode="change">
                    <model behaviour="inline" cssClass="annotation annotation-superscript"/>
                </elementSpec>
                <elementSpec ident="emph" mode="change">
                    <model behaviour="inline" cssClass="annotation annotation-emph"/>
                </elementSpec>
                <elementSpec ident="mp" mode="change">
                    <model behaviour="inline" cssClass="annotation annotation-mp"/>
                </elementSpec>
                <elementSpec ident="perge" mode="change">
                    <model behaviour="inline" cssClass="annotation annotation-perge"/>
                </elementSpec>
                <elementSpec ident="abbr" mode="change">
                    <model behaviour="inline" cssClass="annotation annotation-sic"/>
                </elementSpec>
                <elementSpec ident="floatingText" mode="change">
                    <model behaviour="inline" cssClass="annotation annotation-floatingText"/>
                </elementSpec>
                 <elementSpec ident="p" mode="change">
                    <model behaviour="inline" cssClass="annotation annotation-paragraph"/>
                </elementSpec>
                <elementSpec ident="seg" mode="change">
                    <model behaviour="inline" predicate="@type='keepLB'" cssClass="annotation annotation-keepLineBreaks"/>
                    <model behaviour="inline" predicate="@rend='indent'" cssClass="annotation annotation-identation"/>
                    <model behaviour="inline" cssClass="annotation annotation-seg"/>
                </elementSpec>
                <elementSpec ident="anchor" mode="change">
                    <model predicate="parent::span[@type='commented']" behaviour="omit"/>
                    <model behaviour="inline" cssClass="annotation annotation-anchor"/>
                </elementSpec>
                <elementSpec ident="term" mode="change">
                    <model behaviour="inline" cssClass="annotation annotation-term authority"/>
                </elementSpec>
                <elementSpec ident="gloss" mode="change">
                    <model behaviour="inline" cssClass="annotation annotation-gloss"/>
                </elementSpec>
                <elementSpec ident="unclear" mode="change">
                    <model behaviour="inline" cssClass="annotation annotation-unclear"/>
                </elementSpec>
                <elementSpec ident="ab" mode="change">
                    <model predicate="@type='hidden'" behaviour="alternate">
                        <param name="default" value="."/>
                        <param name="alternate" value="'Non-edited text / Nicht edierter Text'"/>
                        <outputRendition xml:space="preserve">
                        
                        text-decoration: underline dotted;
                        color: #e8e8e8;
                        
                        </outputRendition>
                    </model>
                    <model behaviour="inline" predicate="not(@rend='container')" cssClass="annotation annotation-ab"/>
                </elementSpec>
                <elementSpec ident="app" mode="add">
                    <model behaviour="inline" cssClass="annotation annotation-app" useSourceRendition="true" />
                </elementSpec>
                <elementSpec ident="rdg" mode="add">
                    <model behaviour="inline" cssClass="annotation annotation-rdg" useSourceRendition="true" />
                </elementSpec>
                <elementSpec ident="orig" mode="change">
                    <model behaviour="inline" predicate="@rend='keepLB'" cssClass="annotation annotation-keepingLineBreaks"/>
                    <model behaviour="inline" predicate="@rend='indent'" cssClass="annotation annotation-indentation"/>
                </elementSpec>
                <elementSpec ident="lb" mode="change">
                    <modelSequence>
                        <model behaviour="break" cssClass="annotation annotation-lb">
                            <param name="type" value="'line'"/>
                            <param name="label" value="@n"/>
                        </model>
                        <model behaviour="inline" cssClass="annotation annotation-lb"/>
                    </modelSequence>
                </elementSpec>
            </schemaSpec>
        </body>
    </text>
</tei:TEI>